#[lis2dw]
#cs_pin: EBB:PB1
#spi_software_sclk_pin: EBB:PB10
#spi_software_mosi_pin: EBB:PB11
#spi_software_miso_pin: EBB:PB2
#axes_map: x,y,z

[resonance_tester]
accel_chip: beacon
probe_points: 150,150,20