[nevermore]
bt_address: 28:CD:C1:08:82:8B
led_colour_order: GRB
led_chain_count: 7

# float \in [0, 1], 1 to disable the thermal limiter
# 0 to disable the fan at max temp
# 0.5 to half the fan speed at max temp
# 1 to effectively disable the thermal limiter (no scaling at max temp)
fan_thermal_limit_coefficient: 1

# float, Celsius, minimum target bed temperature for print-mode to engage
# Useful if you sometimes use PLA w/ the enclosure open and you don't want it
# turning on print mode.
# (Or avoiding the fan turning on when doing nozzle changes.)
print_mode_min_bed_target: 100

[gcode_macro VENT_NEVERMORE]
description: Opens the nevermore servo-powered vent
gcode:
		NEVERMORE_VENT_SERVO_SET NEVERMORE=nevermore PERCENT=0

[gcode_macro SEAL_NEVERMORE]
description: Closes the nevermore servo-powered vent
gcode:
		NEVERMORE_VENT_SERVO_SET NEVERMORE=nevermore PERCENT=1