[probe]
pin: EBBCan:PB9
x_offset: 0
y_offset: 0
#higher (closer to positive) is closer to bed (more squish)
z_offset: -1.57
speed: 5 #3
lift_speed: 20 #5
samples:1
samples_result: median
sample_retract_dist: 1
samples_tolerance: 0.01
samples_tolerance_retries: 3
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

[settling_probe]
settling_sample: true
#   Globally enable the throw-away settling sample. Default is 'False'.
#   Setting this to 'True' will enable the throw-away sample for all
#   commands/operations that perform Z probing (QGL, Z tilt, Bed Mesh,
#   Screw Tilt, etc.)

[bed_mesh]
speed: 350
horizontal_move_z: 3
mesh_min: 10, 25
mesh_max: 290, 255
probe_count: 7, 7
#fade_end: 10
#split_delta_z: .01
#move_check_distance: 3.0
mesh_pps: 2,2
algorithm: bicubic
#relative_reference_index: 40

[quad_gantry_level]
gantry_corners:
	-60,-10
	360,370
points:
	50,25
	50,225
	250,225
	250,25
speed: 350
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.0075
max_adjust: 15